body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-tel {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
